<p>working-with-chart works!</p>
<div class="text-nowrap">
 <!--  <app-line-chart></app-line-chart>
  <app-bar-chart></app-bar-chart>
  <app-doughnut-chart></app-doughnut-chart> 
  <app-radar-chart></app-radar-chart>
   <app-pie-chart></app-pie-chart>
  <app-polar-area-chart></app-polar-area-chart>
  <app-bubble-chart></app-bubble-chart>
 <app-scatter-chart></app-scatter-chart>
  <app-dynamic-chart></app-dynamic-chart>-->
  <app-financial-chart></app-financial-chart>
</div>

<!-- plugins: {
  title: {
    align: 'center',
    display: true,
    position: 'bottom',
    fullSize: true,
    color: 'green',
    text: 'Bar Chart'
  }
} -->