<div style="display: inline-flex;">
  <label>Multiselect Dropdown: </label>
  <ng-multiselect-dropdown class="multiselect-option-inline" style="width: 200px;" 
    name="select_Levels" 
    [placeholder]="'Select'" 
    [(ngModel)]="selectLevelList" 
    [settings]="levelDropdownSettings"
    [data]="levelDropDownList" 
    (onSelect)="onLevelSelect($event)"
    (onSelectAll)="onLevelSelectAll($event)" 
    (onDeSelect)="onLevelSelectDeSelect($event)"
    (onDeSelectAll)="onLevelSelectDeAll($event)">
  </ng-multiselect-dropdown>
</div>